{% extends 'base.html.twig' %}

{% block title %}{{ video.title }} - Videos{% endblock %}

{% block page_menu %}
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('video.sync_one', {id: video.id}) }}">
        <span data-feather="refresh-cw"></span>
        Sync
      </a>
    </div>
  </div>
{% endblock page_menu %}

{% block page_content %}
  {{ dump(video) }}
{% endblock %}
