{% extends 'setup.html.twig' %}

{% block title %}Setup{% endblock %}

{% block page_content %}
  {{ include('settings/settings.html.twig') }}
  <div class="mt-3">
    <a class="btn btn-primary {% if not ready %}disabled{% endif %}" href="{{ path('settings.setup.finish') }}">Finish</a>
  </div>
{% endblock %}
